[submodule "kale-blockchain-gui"]
	path = kale-blockchain-gui
	url = https://github.com/Kale-Network/kale-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Kale-Network/mozilla-ca.git
