[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "kale-blockchain-gui"]
	path = kale-blockchain-gui
	url = https://github.com/Kale-Network/kale-blockchain-gui.git
